

<div class="container">
  <aside class="left-section">
    <h3>BLOOD AID</h3>
    <img src="maledoctor.png" alt="Doctor Illustration" class="doctor-img">
  </aside>

  <div class="right-section">
    <form class="request-form">
      <h2>Request Form</h2>
      <hr>
      <div class="form-group">
        <label for="name">name</label>
        <input type="text" id="name" placeholder="Enter your name" required>
      </div>

      <div class="form-group">
        <label for="email">email</label>
        <input type="email" id="email" placeholder="Enter your email" required>
      </div>

      <div class="form-group">
        <label for="blood-group">Blood Group</label>
        <input type="text" id="blood-group" placeholder="Enter your blood group"required>
      </div>

      <div class="form-group">
        <label for="phone">phone number</label>
        <input type="text" id="phone" placeholder="Enter your phone number" required>
      </div>

      <div class="form-group">
        <label for="message">message</label>
        <textarea id="message" placeholder="Write your message here" required></textarea>
      </div>

      <div class="form-group">
        <label for="upload">upload image</label>
        <div class="upload-box">
          <input type="file" id="upload" class="upload-input" required>
          <div for="upload" class="upload-label" >
            <img src="download.png" alt="Upload Icon" class="upload-icon">
            <p>click to upload image</p>
          </div>
        </div>
      </div>

      <button type="submit" class="submit-btn">submit</button>
    </form>
  </div>
</div>

