/* Header section */
.header_hansel {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
  border: 1px solid #e0e0e0;
}

.logo_hansel {
  font-weight: bold;
  font-size: 24px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.dropbtn {
  background-color: #cacdd1;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 10px;
  transition: background-color 0.3s;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 5px;
}
.dropbtn:hover {
  background-color: #007bff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.login-link_hansel {
  display: inline-block;
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid gray;
  text-decoration: none;
  color: black;
  margin-right: 10px;
  border-radius: 9px;
}

.signup-link_hansel {
  display: inline-block;
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid gray;
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

.profile_hansel {
  display: flex;
  align-items: center;
}

.profile_hansel img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

/* Hero section */
.hero_hansel {
  background-image: url("../img/hansel_img/navbar_hansel.jpg");
  background-size: 1200px 500px;
  background-position: center;
  padding: 20px;
  text-align: center;
  border: 1px solid #f2f2f2;
}

.hero_hansel h1 {
  font-size: 36px;
  color: white;
  margin-bottom: 10px;
}

.hero_hansel h2 {
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

.search_form_hansel {
  margin-bottom: 20px;
}

.search_form_hansel input {
  margin-right: 10px;
  padding: 5px;
}

.search_form_hansel button {
  padding: 5px 10px;
  background-color: darkblue;
  color: white;
  border: none;
}

/* Offers section */
.offers_hansel {
  text-align: center;
  padding: 20px;
  border: none;
}

.offers_hansel h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.view_all_button_hansel {
  padding: 5px 10px;
  background-color: darkblue;
  color: white;
  border: none;
  margin-bottom: 10px;
}
.actions {
  text-align: center;
}

.actions button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

.actions button:hover {
  background-color: #0056b3;
}

/* Process section */
.process_hansel {
  background-color: #ffffff;
  padding: 20px;
  border: none;
}

.process_hansel h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.process_step_hansel {
  text-align: center;
  display: inline-block;
  width: 20%;
  margin-bottom: 20px;
  vertical-align: top;
  margin-left: 50px;
}

.process_step_hansel img {
  width: 250px;
  height: 200px;
  margin-bottom: 10px;
}

.process_step_hansel h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.process_step_hansel p {
  font-size: 14px;
  color: #666666;
}
.offers_hansel img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
}
