.why-donate {
    background-color: #820000;
    color: white;
    padding: 40px;
    text-align: center;
}

.why-donate h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.reasons {
    display: flex;
    justify-content: space-around;
}

.reason-box {
    background-color: white;
    color: #000;
    padding: 20px;
    width: 22%;
    border-radius: 10px;
}

.reason-box h3 {
    font-size: 32px;
    color: #d62828;
}

.reason-box p {
    font-size: 16px;
    margin-top: 10px;
}
