.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.Popular_Hospitals_pasky {
  color: #333;
  padding: 0;
  margin-left: 200px;
}

.Popular_Hospitals_pasky {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Popular_Hospitals_pasky h1 {
  margin: 20px;
}

p {
  margin-bottom: 20px;
  margin: 30px;
  margin-top: 10px;
}

.hospital_container_pasky {
  width: 80%;
  margin: 40px auto;
}

.hospital_location_pasky {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

hospital_pasky {
  width: 45%;
  margin: 10px;
}

.hospital_location2_pasky {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 20%;
}





.question_row3_hansel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 40%;
}



.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.p {
  font-size: 16px;
}

.h2 {
  font-size: 256px;
  margin-top: 10px;
  text-align: center;
}

.questions_hansel {
  position: center;
  text-align: center;
  font-size: 45px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.question_row1_hansel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 40%;
}

.question_row2_hansel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 40%;
}



h4 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}



.p3 {
  font-size: 16px;
  margin-top: 10px;
}

.question_container_pasky {
  width: 80%;
  margin: 40px auto;
}

.hospital_pasky {
  width: 65%;
  margin: 10px;
}

img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

p {
  font-size: 16px;
  margin-top: 10px;
}