
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #6B0202;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  padding: 20px;
}

.footer-section h2 {
  margin-top: 0;
  color:  #ffffff;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

.footer-section a:hover {
  text-decoration: underline;
}

.copyright-text {
  margin-top: 20px;
  border-top: 1px solid #555;
  padding-top: 20px;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #888888;
  text-align: center;
}

.copyright-text p a {
  color: #f6f7f9;
}

.footer-menu li {
  display: inline;
  margin-right: 150px;
  margin-left: 30px;
  text-align: center;
  justify-content: center;
}

.footer-menu li:hover a {
  color: #ffffff;
}

.footer-menu li a {
  font-size: 14px;
  color: #ffffff
}

