body {
	font-family: Arial, sans-serif;
	background-image: url(donating.jpg); 
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #bc0202;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
	justify-content: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
	color:white;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #cd0202;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ac0303;
}